/* Fonts:
font-family: 'Julius Sans One', sans-serif;
font-family: 'Crimson Text', serif; 

Color pallet: 
#c0dfd9
#e9ece5
#b3c2bf
#3b3a46

*/ 


body {
  font-family: 'Crimson Text', serif;
  margin: 0;
}

/* Flex Boxes */
.main-header,
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation */

.main-header {
    background-color: #e9ece5;
    height: 64px;
    margin: 0;
}
.main-header img {
   border: 1px solid black;
   margin: 0 auto;
   height: 32px;
   width: auto;
}
.nav {
    margin-top: 1.5em;
    list-style: none;
}
.nav a {
    display: block;
    list-style: none;
    color: #3b3a46;
    margin-right: 16px;
    text-decoration: none;
}

.nav a:hover {
    color: antiquewhite;
}
.logo img {
    height: 32px;
    width: auto;
    margin-right: 0;
}
