/* Fonts:
font-family: 'Julius Sans One', sans-serif;
font-family: 'Crimson Text', serif; 

Color pallet: 
#c0dfd9
#e9ece5
#b3c2bf
#3b3a46

*/ 


body {
  font-family: 'Crimson Text', serif;
  margin: 0;
}

/* Flex Boxes */
.main-header,
.nav,
.learn-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text {
    flex-direction: column;
    align-items: center;
}
/* Navigation */

.main-header {
    height: 64px;
    color: #3b3a46;
    background-color: #e9ece5;
    background-size: auto;
    margin-top: 0;
    padding-left: 24px;
    padding-right: 24px;
}
.main-header img {
   margin: 0 auto;
   height: 32px;
   width: auto;
}
.nav {
    list-style: none;
    margin: auto 0;
}
.nav a {
    display: block;
    list-style: none;
    color: #3b3a46;
    margin-right: 16px;
    text-decoration: none;
    font-size: 19px;
}
.nav a:hover {
    color: #050507;
    text-decoration: underline;
    transition: text-decoration;
    transition-delay: 40s;
}
/* Learn-new */

.learn-new img {
    margin: 32px 24px;
    width: 60%;
}
.text {
    text-align: center;
    margin-right: 24px;
}
.text h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 32px;
}
.text h2 {
  font-size: 20px;
  font-weight: 400;
}
.text h3 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding: 8px;
    background-color: #c0dfd9;
    width: 60%;
    margin: 0 auto;
}

